# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# PO1 project untracked files #
/PO1/doc/
/PO1/.idea/
/PO1/out/
/PO1/bin/
/PO1/doccheck/
/PO1/rsc/